
nav a.active{
  text-decoration: none;
  font-weight: bold;
}
.pagination {
  cursor: pointer;
  display: inline-block;
  margin: 1em 0;
  margin-left: 5em;
}
.controls{
  margin-top: 5px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;

}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.search{
  width: 100%;
  display: flex;
  margin: 1%;
}
.search button{
  height: 45px;
  width: 20%;
  margin-left: 1%;
  background-color: #59a6e0;
  color: white;
  border: none;
}
.search input{
  width: 70%;
    height: 45px;
}

.favlenght{
  
  width: 20%;
  background: #1493ed;
  height: 40px;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 10px auto;

}
